<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
	<head>
		<meta charset="UTF-8">
		<link th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/css/top.css}" rel="stylesheet" />
		<link th:href="@{/css/user.css}" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
		<script th:href="@{webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
		<script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
		<script th:src="@{/js/top.js}"></script>
		<script th:src="@{/js/user.js}"></script>
		<title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE"></title>
	</head>
	<body>

		<div layout:replace="~{layout/header::header}"></div>
		<th:block th:if="${loginUser}">
			<p class="login-name">お疲れ様です　<span th:text="${loginUser.name}" style="font-weight: 700;"/>　さん</p>
		</th:block>
		<div layout:fragment="content" th:remove="tag"></div>

		<div layout:replace="~{layout/footer::footer}"></div>

	</body>
</html>