<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
	<head>
		<title>ユーザー編集画面</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="container">
				<div class="row">
					<div class="col-md-6 mx-auto">

						<th:block th:if="${errorMessages != null}">
							<div th:each="errorMessage : ${errorMessages}"  class="border rounded border-danger mb-1 text-center">
								<p th:text="${errorMessage}" class="text-danger my-1"></p>
							</div>
						</th:block>

						<form th:method="put" th:action="@{/user/edit/{id}(id=${formModel.id})}" th:object="${formModel}">
							<div class="form-group row">
								<label for="account" class="col-lg-4">アカウント</label>
								<div class="col-lg-8">
									<input type="text" id="account" name="account" th:value="*{account}" size="20" maxlength="200" class="form-control" />
									<div th:if="${#fields.hasErrors('account')}" th:errors="*{account}" class="text-danger"></div>
								</div>
							</div>

							<div class="form-group row">
								<label for="name" class="col-lg-4">氏名</label>
								<div class="col-lg-8">
									<input type="text" id="name" name="name" th:value="*{name}" size="20" maxlength="200" class="form-control" />
									<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></div>
								</div>
							</div>

							<div class="form-group row">
								<label for="password" class="col-lg-4">パスワード</label>
								<div class="col-lg-8">
									<input type="password" id="password" name="password" size="20" maxlength="200" class="form-control" />
									<div th:if="${passwordErrorMessages != null}">
										<div th:each="errorMessage : ${passwordErrorMessages}" class="text-danger">
											<p th:text="${errorMessage}"></p>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group row">
								<label for="confirm" class="col-lg-4">パスワード(確認)</label>
								<div class="col-lg-8">
									<input type="password" id="confirm" name="confirm" size="20" maxlength="200" class="form-control" />
								</div>
							</div>
							<div class="form-group row">
								<label for="branchId" class="col-lg-4">支社</label>
								<div class="col-lg-8">
									<select id="branchId" name="branchId" class="form-control">
										<option th:each="branch : ${branches}" th:value="${branch.id}" th:selected="${branch.id == formModel.branchId}" th:inline="text">[[${branch.name}]]</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label for="departmentId" class="col-lg-4">部署</label>
								<div class="col-lg-8">
									<select id="departmentId" name="departmentId" class="form-control">
										<option th:each="department : ${departments}" th:value="${department.id}" th:selected="${department.id == formModel.departmentId}" th:inline="text">[[${department.name}]]</option>
									</select>
								</div>
							</div>
							<div class="form-group text-center">
								<input type="submit" value="更新" class="btn btn-outline-info px-5" />
							</div>
						</form>

					</div>
				</div>
			</div>

		</div>
	</body>
</html>