<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
	<head>
		<title>ユーザー管理画面</title>
	</head>
	<head>
	<body>
		<div layout:fragment="content">
			<div class="container">
				<div class="row">
					<div class="col-sm-10 mx-auto">

						<th:block th:if="${!parameterError.isEmpty}">
							<div class="border rounded border-danger mb-1">
									<p th:text="${parameterError}" class="text-danger my-1"></p>
							</div>
						</th:block>

						<form action="/user/signup">
							<input type="submit" value="新規登録" class="btn btn-sm btn-block btn-outline-info" />
						</form>

						<table class="table table-sm table-bordered">
							<thead class="table-head">
								<tr>
									<th class="column-name">アカウント</th>
									<th class="column-name">氏名</th>
									<th class="column-name">支社</th>
									<th class="column-name">部署</th>
									<th class="column-name">ステータス</th>
									<th colspan="2"></th>
								</tr>
							</thead>
							<tbody class="table-body">
								<tr th:each="user : ${users}">
									<td th:text="${user.account}"></td>
									<td th:text="${user.name}"></td>
									<td th:text="${user.branch.name}"></td>
									<td th:text="${user.department.name}"></td>

									<th:block th:if="${user.isStopped == 0}">
										<td class="text-success">アクティブ</td>
									</th:block>
									<th:block th:if="${user.isStopped == 1}">
										<td class="text-danger">停止</td>
									</th:block>

									<td class="text-center">
										<form th:action="@{/user/edit/{id}(id=${user.id})}">
											<input type="submit" value="編集" class="btn btn-sm btn-outline-info" />
										</form>
									</td>

									<td class="text-center">
										<th:block th:if="${user.id != loginUser.id}">
											<th:block th:if="${user.isStopped == 0}">
												<form th:method="put" th:action="@{/user/stop/{id}(id=${user.id})}">
													<input type="hidden" name="activeStatus" value="1" />
													<input type="submit" value="停止" class="stop-button btn btn-sm btn-outline-danger" />
												</form>
											</th:block>

											<th:block th:if="${user.isStopped == 1}">
												<form th:method="put" th:action="@{/user/stop/{id}(id=${user.id})}">
													<input type="hidden" name="activeStatus" value="0" />
													<input type="submit" value="復活" class="revival-button btn btn-sm btn-outline-success" />
												</form>
											</th:block>
										</th:block>

										<th:block th:if="${user.id == loginUser.id}">
											<button class="btn btn-sm btn-outline-secondary">本人</button>
										</th:block>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>

		</div>
	</body>
</html>