
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

header {
  height: 80px;
  width: 100%;
  padding: 15px 0;
  background-color: #D2B881;
  color: white;
  margin-bottom: 40px;
}
.logo {
    line-height: 60px;
    float: left;
    font-size: 50px;
    margin-left: 50px;
}
.header-menu {
    line-height: 80px;
/*     float: left; */
    margin-left: 30px;
    list-style: none;
    display: flex;
}
.header-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

header a {
	color: #FFFFFF;
}

header a:hover {
	color: #FFFFFF;
}

.header-item:last-child {
	margin-left: auto;
}

.login-name {
	margin: 0 50px 10px auto;
	border-bottom: 1px solid black;
}

h2 {
	text-align: center;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #D2B881;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

.footer-item {
	display: inline;
	padding-top: 10px;
}

.footer-item a {
	color: #FFFFFF;
}

.error-message-box {
	border: 3px solid #ef9a9a;
	background-color: #ffebee;
	padding: 20px;
	margin: 20px auto;
	width: 500px;

}

.error-message-list {
	list-style: none;
}

.error-message {
	color: red;
}

.message-contents {
	margin: 50px 0;
}

.comment-contents {
	padding-top: 30px;
}

.comment-content {
	margin-bottom: 40px;
}

.comment-form {
	padding-top: 30px;
}

.list {
	list-style: none;
}

#post-btn {
    position: fixed;
    bottom: 110px;
    right: 20px;
    height: 70px;
    width: 70px;
    background-color: #FFF;
    border:2px solid #17a2b8;
    border-radius: 50%;
}

#post-btn:hover {
	background-color: #17a2b8;
}

#post-btn p {
	margin: 0;
	color: #17a2b8;
}


#top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 70px;
    width: 70px;
    background-color: #FFF;
    border:2px solid #999;
    border-radius: 50%;
}

#top-btn:hover {
	background-color: #999;
}

#top-btn p {
	margin: 0;
	color: #999;
}

#post-btn:hover p,
#top-btn:hover p {
	color: #FFF;
}

.no-message {
	margin: 150px auto;
	text-align: center;
}

.message-form {
	margin-bottom: 60px;
}

.comment-box {
	width: 600px;
}

.message-box {
	width: 640px;
}
