<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
	<head>
		<title>ログイン画面</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="container">
				<th:block th:if="${errorMessages != null}">
					<div class="row">
						<div class="col-sm-6 col-md-5 col-lg-4 border rounded border-danger mx-auto mb-1">
							<th:block th:each="errorMessage : ${errorMessages}">
								<p th:text="${errorMessage}" class="text-danger my-1"></p>
							</th:block>
						</div>
					</div>
				</th:block>

				<th:block th:if="${filterErrorMessages != null}">
					<div class="row">
						<div class="col-sm-6 col-md-5 col-lg-4 border rounded border-danger mx-auto mb-1">
							<th:block th:each="errorMessage : ${filterErrorMessages}">
								<p th:text="${errorMessage}" class="text-danger my-1"></p>
							</dith:block>
						</div>
					</div>
				</th:block>

				<div class="row">
					<div class="col-sm-6 col-md-5 col-lg-4 border rounded border-info mx-auto px-4 pt-4 pb-3">
						<form method="post" action="/login">
							<div class="form-group row pt-2">
								<label for="account" class="col-xl-4">アカウント</label>
								<div class="col-xl-8">
									<input type="text" id="account" name="account"  th:value="${account}" class="form-control" />
								</div>
							</div>

							<div class="form-group row">
								<label for="password" class="col-xl-4">パスワード</label>
								<div class="col-xl-8">
									<input type="password" id="password" name="password" class="form-control" />
								</div>
							</div>

							<div class="form-group text-center">
								<input type="submit" value="ログイン" class="btn btn-outline-info px-5">
							</div>
						</form>

					</div>
				</div>
			</div>

		</div>
	</body>
</html>