<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
 	<head>
		<title>ホーム画面</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="container-fluid">

				<th:block th:if="${filterErrorMessages != null}">
					<div class="row">
						<div class="col-sm-6 col-md-5 col-lg-4 border rounded border-danger mx-auto mb-1">
							<th:block th:each="errorMessage : ${filterErrorMessages}">
								<p th:text="${errorMessage}" class="text-danger my-1"></p>
							</th:block>
						</div>
					</div>
				</th:block>

			 	<div class="row">
			 		<div class="col-1"></div>

				<!-- 日付・カテゴリーによる絞り込み -->
					<div class="search-message col-10" style="display:inline-flex">
						<form action="/kinako" method="get">
							<label><p>　投稿日時：</p></label>
							<input type="date" name="startDate" th:value="${startDate}" />
							<label><p>〜</p></label>
							<input type="date" name="endDate" th:value="${endDate}" />

							<label><p>　カテゴリ：</p></label>
							<input type="text" name="searchCategory" th:value="${searchCategory}" />
							<input type="submit" value="絞り込み" style="margin: 15px" class="btn btn-outline-primary btn-sm"/>
						</form>
						<form action="/kinako">
							<input type="submit" value="リセット" style="margin: 15px" class="btn btn-outline-secondary btn-sm"/>
						</form>
					</div>
				</div>

				<div class="row">
					<div class="col-3"></div>
					<div class="col-6">
						<div class="no-message" th:if="${messages.size() == 0}">
							<h2>検索条件に一致する投稿はありません</h2>
						</div>

						<th:block th:if="${errorMessages != null}">
							<div class="row">
								<div class="col-sm-12 border rounded border-danger mx-auto">
									<th:block th:each="errorMessage : ${errorMessages}">
										<p th:text="${errorMessage}" class="text-danger my-1"></p>
									</dith:block>
								</div>
							</div>
						</th:block>

						<div class="message-contents card" th:each="message : ${messages}">

							<div class="card-header">
								<h3 th:text="${message.title}" />
								<div th:if="${message.UserId == loginUser.id}" style="text-align:right">
									<form th:action="@{/message/deleteMessage/{id}(id=${message.id})}" th:method="delete" >
										<input type="submit" value="削除" class="delete-btn btn btn-outline-danger"/>
									</form>
								</div>
							</div>

							<div class="card-body">
								<div class="message-box">
									<pre><p class="message-text" th:text="${message.text}" style="font-size:18px"/></pre>
								</div>
								<div class="message-info" style="text-align:right;">
									<span th:text="|投稿者：${message.user.name}　|"  style="color: rgba(0,0,0,0.5)"/>
									<span th:text="|カテゴリ：${message.category}　|" style="color: rgba(0,0,0,0.5)"/>
									<span th:text="|作成日時：${message.createdDate}|" style="color: rgba(0,0,0,0.5)"/>
								</div>
							</div>

							<div class="card comment-contents">
								<div class="card-body">
									<div class="comment-index">
										<ul class="list">
								  		<li class="list-item" th:each="comment : ${comments}">
											<div class="comment-content" th:if="${comment.messageId} == ${message.id}">
												<div class="comment-box" style="margin-left:auto;">
													<pre><p th:text="${comment.text}" style="font-size:15px"/></pre>
												</div>
												<div class="comment-info" style="text-align:right;">
													<span th:text="|投稿者：${comment.user.name}　|" style="color: rgba(0,0,0,0.5)" />
													<span th:text="|作成日時：${comment.createdDate}" style="color: rgba(0,0,0,0.5)" />
													<div th:if="${comment.userId == loginUser.id}">
														<form th:action="@{/deleteComment/{id}(id=${comment.id})}" th:method="delete">
															<input type="submit" value="削除" class="delete-btn btn btn-outline-danger"/>
														</form>
													</div>
												</div>
											</div>
										</li>
										</ul>
									</div>
									<div class="comment-form">
										<h4 style="text-align:center;">【コメントフォーム】</h4>
										<form th:action="@{/addComment/{id}(id=${message.id})}"  th:method="post" th:object="${commentForm}" style="text-align:right;">
											<textarea th:field="*{text}" rows="5" style="width: 100%;" wrap="hard"></textarea><br />
											<input type="submit" value="コメントする" class="commetn-btn btn btn-lg btn-outline-info" />
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-1"></div>
					<div class="col-2">
						<a href="/message/newMessage">
							<button id="post-btn" class="fixed-button">
									<p class="fas fa-pencil-alt">投稿</p>
							</button>
						</a>
						<a href="#">
							<button id="top-btn" class="fixed-button">
									<p>TOP</p>
							</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>